<!DOCTYPE html>
<html>
<style>
button[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h1>Success!!!</h1>
<h3>Your reminder has been scheduled.</h3>

<div>
  <button type="button" name="back" type="button" onclick="location.href = '/';">Go Back</button>
  <button type="button" name="cancel" type="button" onclick="location.href = '/cancel';">Cancel Reminder</button>
</div>

</body>
</html>



